{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                You have been logged out
            </legend>
            {{ form | crispy}}
        </fieldset>
        <div class="form-group">
            <a class="btn" type="submit" href="{% url 'login'%}">Click here to log in again</button>
        </div>
    </form>
    
</div>
{%endblock content%}